USE [master]
GO
/****** Object:  Database [Prinzip]    Script Date: 31.01.2024 0:24:59 ******/
CREATE DATABASE [Prinzip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prinzip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prinzip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prinzip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prinzip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prinzip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prinzip]
GO
/****** Object:  Table [dbo].[Sublist]    Script Date: 31.01.2024 0:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sublist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[mail] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sublist] ON 

INSERT [dbo].[Sublist] ([id], [url], [mail]) VALUES (2, N'1', N'1')
INSERT [dbo].[Sublist] ([id], [url], [mail]) VALUES (3, N'https://prinzip.su/apartments/newtonpark/61882', N'a.yagupjev@yandex.ru')
INSERT [dbo].[Sublist] ([id], [url], [mail]) VALUES (4, N'https://prinzip.su/apartments/newtonpark/62131', N'a.yagupjev@yandex.ru')
SET IDENTITY_INSERT [dbo].[Sublist] OFF
GO
USE [master]
GO
